/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* asterisk wildcard selector to override default styles added by the browser*/
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Gerenal styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;
    font-family: "lato", sans-serif;
}
h1,h2,h3{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}



/* Header */
header {
    background-color: #ffffff;
    padding:0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
header a{
    text-decoration: none;
    color: inherit;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}
#menu > li{
    margin-bottom: 1em;
}
.active{ 
    border-bottom: 1px solid #3a3a3a;
}

/* navbard styles with drop down toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding:0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav{
    display: block;
}
#nav-toggle{
    display: none;
}
.nav-toggle-label{
    font-size: 2rem;
}

/* Main content*/
main{
    
    /* make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}
/* Hero seciton */
#hero{
    height: 600px;
    width: 100%;
    background:url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text{
    /* Final rgba value sets opactiy so it is semi-transparent */
    background-color: rgba(241, 109, 107,.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#cover-text >h2, #cover-text > h3{
    color: #ffffff;
}

/* Reasons section */
#reasons{
    width: 90%;
    margin: 20px auto;

}
#reasons >h2{
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
}

#benefit-physical div , #benefit-mental div{
    line-height: 20px;
    margin-bottom: 20px;
}

#benefit-physical hr , #benefit-mental hr{
border-top: 1px solid #3a3a3a;
margin: 5px 0;
}
#benefit-physical p , #benefit-mental p{
    padding:0 20px;
}
#benefit-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle-cover-bg{
    background:url("../images/reasons-image.webp") no-repeat center center/cover;
    height: 90vw;
    width: 90vw;
    border: 2px solid red;
    margin-bottom: 20px;
    /* makes the swuare image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}


/* Footer */
#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks  i{
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Meetup section */
    #meetups{

    }

    #times{
        display: flex;
        background: url("../images/dublin-city.webp") no-repeat center/cover;
        flex-wrap: wrap;
    }

    #times div{
        color:#fafafa;
        background-color: rgba(0, 0, 0, .6);
        padding: 15px;
        text-align: center;
        /* This wlil no wrap on screens of less than 400px wide.
        each div will expand to fill the available space on its row */
        flex-basis: 200px;
        flex-grow: 1;

        /* creates a grid of meetup times over the background image */
        border:2px solid white;
    }
    #times h3{
        color:#fafafa;
    }

/* Media query: tablets and larger (768px and up) */
@media screen and  (min-width:  768px){
    /* Header */
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu{
        display: flex;

    }
    #menu > li{
        padding-left: 1rem;
    }

    .nav-toggle-label{
        display: none;
    }
    #logo{
        font-size: 280%;
        line-height: 75px;
        margin:0 0.5rem;
    }

    /* Main Content */
    main {
        /* push main content down to accomodate larger header */
        margin-top: 79px;
    }

    #cover-text{
        width: 300px;
        right: 50px;
    }

    /* reason section */
    #benefit-physical,
    #benefit-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #benefit-physical > div,
    #benefit-mental > div {
        width: 75%;
    }
    #benefit-mental > div{
        text-align: end;
        align-self: flex-end;
    }
} 


@media screen and (min-width: 992px){
    /* Header */
    #menu > li:hover{
        border-bottom: 1px solid #3a3a3a;
    
    }



}
    
@media screen and (min-width: 1200px){
 
       /* reason section
    #benefit-physical,
    #benefit-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #benefit-physical > div,
    #benefit-mental > div {
        width: 25%;
    }
    #benefit-mental > div{
        text-align: end;
        align-self: flex-end;
        
    } */
    
    #benefit{
        display: flex;
        margin: auto 10%;
    }
    #benefit-physical{
        order:0
    }
    #benefit-image{
        order: 1;
    }
    #benefit-mental{
        order:2
    }

    
}